* {
    margin: 0;
    padding: 0;
}

/* body style */
body {
    color: #453823;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:  white, 0.1;
}
/* end body */

 /* link styling */
a:link {
    color: #946b45;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}
/* link styles end */

/* title style */
.header-title {
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/* title end */

/* navigation style */
.navigation {
    text-decoration: none;
    color: #946b45;
    font-size: 24px;
    list-style-type: none;  
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
}
/* navigation end */

/* hero styling */
.hero {
   
}
/* end hero */

/* work style */
h2 {
    text-align: center;
    padding: 10%;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.work-items{
    padding: 10%;
}
/* work style ends */

/* about me style */
.about-me-img {
    padding: 20px;
}
/* about me ends */

/* contact aside style */
.contact {
    text-decoration: none;
    padding: 10%;
    
}
/* contact style ends */


/* footer style */
footer {
    padding-bottom: 10%;
    background-color: bisque;
}

footer p {
    text-align: center;
}

/* media styles start */
/* @media only screen and (max-width: 900px) { */
/* media styles end */