* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: helvetica;
    background-color: bisque;
}
 /* link styling */
a:link {
    color:#946b45;
    text-decoration: none;
}
/* link styles end */

/* title style */
.header-title {
    font: helvetica;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 10%;
}
/* title end */

/* navigation style */
.navigation {
    color: #946b45;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 5%;
}
/* navigation end */

/* body style */
body {
    color: #946b45;
    text-align: center;
}
/* end body */

/* hero styling */
.hero {
    
    background-size: cover;
    background-position: center;
}
/* end hero */

/* work style */
section h2 {
    text-align: center;
    padding: 10%;
}

.work-items{
    display: flex;
    justify-content: space-evenly;
    padding: 15%;
}
/* work style ends */


